<style>
        p{text-align: justify;}
    </style>

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Resources</h2>
                <hr class="primary">
		    
                		<p>Allysa. (2022, April 21). <i>What is C2B ecommerce? Everything you need to know.</i>BiQ. 
					<a href="https://biq.cloud/blog/c2b-ecommerce/">https://biq.cloud/blog/c2b-ecommerce/</a> </p>
		    		
		    		<p>Accion Opportunity Fund. (2022, February 16).<i>E-commerce advantages and disadvantages.</i> Accion Opportunity Fund. 
					<a href="https://aofund.org/resource/e-commerce-advantages-and-disadvantages/">https://aofund.org/resource/e-commerce-advantages-and-disadvantages/</a></p> 
		    		<p>BigCommerce. (n.d.). <i>Ecommerce: The history and future of online shopping.</i>BigCommerce.  
					<a href="https://www.bigcommerce.com/articles/
						ecommerce/">https://www.bigcommerce.com/articles/
						ecommerce/</a></p>
		    		<p>Bloomenthal, A. (2022, July 6). <i>Ecommerce Defined: Types, history, and examples.</i> Investopedia.  
					<a href="https://www.investopedia.com/terms/e/ecommerce.asp">https://www.investopedia.com/terms/e/ecommerce.asp</a></p>
		    		<p>Dey, S. (2022, March 3). <i>Is Digital Disruption Of e-commerce boosting retail industry Growth?</i>Mar Tech 360. 
					<a href="https://martech360.com/uncategorized/is-digital-disruption-of-e-commerce-boosting-retail-industry-growth/">https://martech360.com/uncategorized/is-digital-disruption-of-e-commerce-boosting-retail-industry-growth/</a></p>
				<p>Dujardin, A. (2022). <i>Ecommerce trends: 5 types of consumer behaviour every manager should know.</i> TextMaster. 
					<a href="https://www.textmaster.com/blog/5-types-of-consumer-behaviour-every-manager-should-know/">https://www.textmaster.com/blog/5-types-of-consumer-behaviour-every-manager-should-know/</a></p> 
		    		<p>ESW. (2022, February 15). <i>How e-commerce has changed consumer behavior.</i> ESW. 
					<a href="https://esw.com/blog/how-ecommerce-has-changed-consumer-behaviour/#:~:text=Ecommerce%20gives%20consumers%20access%20to,and%20the%20way%20they%20shop.">
						https://esw.com/blog/how-ecommerce-has-changed-consumer-
						behaviour/#:~:text=Ecommerce%20
						gives%20consumers%20
						access%20to,
						and%20the%20way%20they%20shop.</a></p>
		   		 <p>Fuscaldo, D. (2022, October 21). <i>Everything you need to know about e-commerce.</i> Business News Daily.  
					<a href="https://www.businessnewsdaily.com/15858-what-is-e-commerce.html">https://www.businessnewsdaily.com/15858-what-is-e-commerce.html</a></p>
		    		<p>Goldberg, J. (2022, December 4). <i>E-Commerce sales grew 50% to $870 billion during the pandemic.</i> Forbes. 
					<a href="https://www.forbes.com/sites/
					jasongoldberg/2022/02/18/e-commerce-sales-grew-50-to-
						870-billion-during-the-pandemic/?sh=4614b02a4e83">https://www.forbes.com/sites/
					jasongoldberg/2022/02/18/e-commerce-sales-grew-50-to-
						870-billion-during-the-pandemic/?sh=4614b02a4e83</a></p> 
		    		<p>GCashResource. (2022, November 6) <i>What is gcash? A dependably complete beginner's guide.</i> GCashResource.
					<a href="https://gcashresource.com/what-is-gcash-a-beginners-guide/">https://gcashresource.com/what-is-gcash-a-beginners-guide/</a> </p>
				<p>Hani, A. (2021, September 21). <i>E-Commerce and digital economy are key engines of growth for the Philippines.</i> OpenGov Asia.
					<a href="https://opengovasia.com/e-commerce-and-digital-economy-are-key-engines-of-growth-for-the-philippines/">https://opengovasia.com/e-commerce-and-digital-economy-are-key-engines-of-growth-for-the-philippines/</a></p>
				<p>Humarang, J. (2022, February 27). <i>E-Commerce Philippines: 5 Reasons for businesses to get into e-commerce.</i> Locad. 
					<a href="https://golocad.com/blog/e-commerce-philippines-data/#:~:text=
					E%2Dcommerce%20is%20expected%20to,
						higher%20than%203.4%25%20in%202021.">https://golocad.com/blog/e-commerce-philippines-data/#:~:text=
					E%2Dcommerce%20is%20expected%20to,
						higher%20than%203.4%25%20in%202021</a> </p>
		    		<p>Indeed Editorial Team.(2021, April 27). <i>What is consumer to business (C2B): Definition and examples.</i> Indeed. 
					<a href="https://www.indeed.com/career-advice/career-development/consumer-to-business">https://www.indeed.com/career-advice/career-development/consumer-to-business</a></p>
		   		 <p>Insights Team. (n.d). How technology has changed the way we shop. Competitor Monitor. <a href="https://www.competitormonitor.com/blog/technology-shopping-habits/">
					 https://www.competitormonitor.com/blog/
					 technology-shopping-habits/</a></p>
				<p>Jawaid, M.H., & Karim, E. (2021). <i>Factors Affecting Consumer Buying Behavior in E-Commerce Business during Outbreak of Covid-19: A Case Study on Top E-Commerce Websites.</i> MPRA Paper No. 110476. 
					<a href="https://mpra.ub.uni-muenchen.de/110476/">https://mpra.ub.uni-muenchen.de/110476/</a></p>
		    		<p>Kiran, M. (2020). <i>THE IMPACT OF ELECTRONIC COMMERCE ON BUSINESS ORGANIZATION.</i> LinkedIn
					<a href="https://www.linkedin.com/pulse/impact-electronic-commerce-business-organization-kiran-m#:~:text=Electronic%20commerce%20expands%20the%20marketplace,cost%20leads%20to%20consumer%20empowerment.">
						https://www.linkedin.com/pulse/impact-electronic-commerce-business-organization-kiran-m#:~:
						text=Electronic%20commerce%20expands
						%20the%20marketplace,cost%20leads
						%20to%20onsumer%20empowerment.</a></p> 
		    		<p>Kodali, S. (2022, February 8). <i>If e-commerce keeps growing, what happens to malls and stores?.</i> Forrester. 
					<a href="https://www.forrester.com/blogs/if-e-commerce-keeps-growing-what-happens-to-malls-and-stores/">https://www.forrester.com/blogs/if-e-commerce-keeps-growing-what-happens-to-malls-and-stores/</a></p>
				<p>Kolibra Capital. (2022, May 12). <i>Understanding the C2G e-commerce business model.</i> Kolibra Capital.   
					<a href="https://www.kolibracapital.com/post/c2g-e-commerce">
						https://www.kolibracapital.com/post/c2g-e-commerce</a></p>
		    		<p>Kutz, M. (2016). <i>Introduction to e-commerce combining business and Internet technology.</i> Bookboon.
					<a href="https://irp-cdn.multiscreensite.com/1c74f035/files/uploaded/introduction-to-e-commerce.pdf"> 
						https://irp-cdn.multiscreensite.com/
						1c74f035/files/uploaded/
						introduction-to-e-commerce.pdf</a></p>
		    		<p>Larson, C. (2016, November 15). Disruptive innovation theory: What it is & 4 key concepts. <i>Harvard Business School Online.</i> 
					<a href="https://online.hbs.edu/blog/post/4-keys-to-understanding-clayton-christensens-theory-of-disruptive-innovation">https://online.hbs.edu/blog/post/4-keys-to-understanding-clayton-christensens-theory-of-disruptive-innovation</a></p>
				<p>Liqui-Site. (2020, February 19). <i>From storefront to SEO: How ecommerce has changed the way we do business.</i> Liqui-Site. 
					<a href="https://www.liqui-site.com/blog/e-commerce-changing-business#:~:
					text=The%20effect%20of%20eCommerce,
					maintaining%20a%20walk%2Din%20location.">https://www.liqui-site.com/blog/e-commerce-changing-business#:~:
					text=The%20effect%20of%20eCommerce,
					maintaining%20a%20walk%
						2Din%20location.</a></p>
		    		<p>Mahmood, S. H. (2022, June 13). <i>How does mercari work?</i> MUO.
					<a href="https://www.makeuseof.com/how-does-mercari-work/">https://www.makeuseof.com/how-does-mercari-work/</a></p> 
		    		<p>Marketing Schools. (2020, November 17). <i>Disruptive marketing.</i> Marketing Schools.
					<a href="https://www.marketing-schools.org/types-of-marketing/disruptive-marketing/#section-0">https://www.marketing-schools.org/types-of-marketing/disruptive-marketing/#section-0</a></p>
		   		<p>Meteor Space. (2022, August 15). E-commerce consumer buying behavior: Trends and statistics. Meteor Space.
					<a href="https://www.meteorspace.com/2022/08/15/e-commerce-consumer-buying-behaviour-trends-and-statistics/">https://www.meteorspace.com/2022/08/15/
					e-commerce-consumer-buying-behaviour-trends-and-statistics/</a></p>
				<p>Parisi, M. (2022, October 13). <i>What is Depop? Everything you need to know about the resale app.</i> MUO. 
					<a href="https://www.makeuseof.com/what-is-depop/">https://www.makeuseof.com/what-is-depop/</a></p> 
		   		<p>Phoebe. (2013, July 18). <i>10 popular e-Commerce sites in the Philippines.</i> Yahoo!news.
					<a href="https://ph.news.yahoo.com/10-popular-e-commerce-sites-150027160.html">https://ph.news.yahoo.com/10-popular-e-commerce-sites-150027160.html</a></p>
		    		<p>The Provoto Group. (2020, October 8). <i>Why disruptive technology is a good thing.</i> The Provoto Group.  
					<a href="https://www.theprovatogroup.com/why-disruptive-technology-is-a-good-thing/">https://www.theprovatogroup.com/why-disruptive-technology-is-a-good-thing/</a></p> 
		    		<p>Quinn M. (2019, January 22). <i>Benefits of e-commerce for customers and businesses.</i> CloudTalk.
					<a href="https://www.cloudtalk.io/blog/benefits-of-e-commerce-for-customers-and-businesses/">https://www.cloudtalk.io/blog/benefits-of-e-commerce-for-customers-and-businesses/</a></p>
		    		<p>Rivera, A. (2022, November 9). Understanding the customer-to-customer (C2C) model.<i>Business News Daily.</i> 
					<a href="https://www.businessnewsdaily.com/5084-what-is-c2c.html">https://www.businessnewsdaily.com/5084-what-is-c2c.html</a></p>
		    		<p>Smith, T. (2022, April 2). <i>Disruptive technology: Definition, example, and how to invest.</i> Investopedia. 
					<a href="https://www.investopedia.com
					/terms/d/disruptive-technology.asp">https://www.investopedia.com
					/terms/d/disruptive-technology.asp</a></p> 
				<p>The Manila Times. (2018, February 11). Shopee PH’s ‘mobile-first’ approach key to e-commerce success. <i>PressReader.</i>
					<a href="https://www.pressreader.com/philippines
				/manila-times/
					20180211/281732679944964">https://www.pressreader.com/philippines
				/manila-times/
					20180211/281732679944964</a></p>
		    		<p>United Nations Conference on Trade and Development. (2021, March 15). <i>How COVID-19 triggered the digital and e-commerce turning point.</i> 
					<a href="https://unctad.org/news/how-covid-19-triggered-digital-and-e-commerce-turning-point">https://unctad.org/news/how-covid-19-triggered-digital-and-e-commerce-turning-point</a></p>
		    		<p>Ward, P. (2022, October 10). <i>C2B: Business definition and examples.</i> NanoGlobals.
					<a href="https://nanoglobals.com/glossary/c2b-consumer-to-business/#:~:text=C2B%20stands%20for%20Consumer-to-Business%2C%20and%20is%20used%20to,include%20referral%20programs%2C%20paid%20testimonials%2C%20or%20data%20sharing.">
						https://nanoglobals.com/glossary/c2b-consumer-to-business/#:~:
						text=C2B%20stands%20for%20Consumer-to-Business
						%2C%20and%20is%20used%20to
						,include%20
						referral%20programs%2C%20
						paid%20testimonials
						%2C%20or%20data%20sharing.</a></p>
		    		
					
					
					
					
					
					
					
					
					
					
		    		
		    		
 </div>
</section>
