<style>
        p{text-align: justify;}
    </style>

<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Resources</h2>
                <hr class="primary">
		    
                		<p>Allysa. (2022, April 21). What is C2B ecommerce? everything you need to know. <i>BiQ.</i>  <a href="https://biq.cloud/blog/c2b-ecommerce/">https://biq.cloud/blog/c2b-ecommerce/</a> </p>
		    		<p> BigCommerce. (n.d.) Ecommerce: The history and future of online shopping. <i>BigCommerce.</i> 
					<a href="https://www.bigcommerce.com/articles/
						ecommerce/">https://www.bigcommerce.com/articles/
						ecommerce/</a></p>
		    		<p>Dey, S. (2022). Is Digital Disruption Of E-commerce Boosting Retail Industry Growth? <i>Mar Tech 360.</i> 
					<a href="https://martech360.com/uncategorized/is-digital-disruption-of-e-commerce-boosting-retail-industry-growth/">https://martech360.com/uncategorized/is-digital-disruption-of-e-commerce-boosting-retail-industry-growth/</a></p>
				<p>Dujardin, A. (2022). Ecommerce trends: 5 types of consumer behaviour every manager should know. 
					<a href="https://www.textmaster.com/blog/5-types-of-consumer-behaviour-every-manager-should-know/">https://www.textmaster.com/blog/5-types-of-consumer-behaviour-every-manager-should-know/</a></p> 
		    		<p><i>E-commerce advantages and disadvantages.</i> Accion Opportunity Fund. (2022, February 16). 
					<a href="https://aofund.org/resource/e-commerce-advantages-and-disadvantages/">https://aofund.org/resource/e-commerce-advantages-and-disadvantages/</a></p> 
		    		<p>ESW. (2022). <i>How E-commerce Has Changed Consumer Behavior.</i> 
					<a href="https://esw.com/blog/how-ecommerce-has-changed-consumer-behaviour/#:~:text
					=Ecommerce%20gives%20consumers%20
					access%20to,and%20the%20way%20they
						%20shop.">https://esw.com/blog/how-ecommerce-has-changed-consumer-behaviour/#:~:text
					=Ecommerce%20gives%20consumers%20
					access%20to,and%20the%20way%20they
						%20shop.</a></p>
		    		<p>Forbes. (2022). <i>E-Commerce Sales Grew 50% to $870 Billion During The Pandemic.</i>
					<a href="https://www.forbes.com/sites/
					jasongoldberg/2022/02/18/e-commerce-sales-grew-50-to-
						870-billion-during-the-pandemic/?sh=4614b02a4e83">https://www.forbes.com/sites/
					jasongoldberg/2022/02/18/e-commerce-sales-grew-50-to-
						870-billion-during-the-pandemic/?sh=4614b02a4e83</a></p> 
		    		<p>GCashResource. <i>What is gcash? A dependably complete beginner's guide. (2022, November 6).</i>
					<a href="https://gcashresource.com/what-is-gcash-a-beginners-guide/">https://gcashresource.com/what-is-gcash-a-beginners-guide/</a> </p>
				<p>Hani, A. (2021). <i>E-Commerce and Digital Economy are Key Engines of Growth for the Philippines.
					<a href="https://opengovasia.com/e-commerce-and-digital-economy-are-key-engines-of-growth-for-the-philippines/">https://opengovasia.com/e-commerce-and-digital-economy-are-key-engines-of-growth-for-the-philippines/</a></p>
				<p>Humarang, J. (2022). E-Commerce Philippines: 5 Reasons for Businesses to Get into E-commerce.
					<a href="https://golocad.com/blog/e-commerce-philippines-data/#:~:text=
					E%2Dcommerce%20is%20expected%20to,
						higher%20than%203.4%25%20in%202021.">https://golocad.com/blog/e-commerce-philippines-data/#:~:text=
					E%2Dcommerce%20is%20expected%20to,
						higher%20than%203.4%25%20in%202021</a> </p>
		    		<p>Indeed Editorial Team.(2021, April 27). <i>What is consumer to business (C2B): Definition and examples.</i> 
					<a href="https://www.indeed.com/career-advice/career-development/consumer-to-business">https://www.indeed.com/career-advice/career-development/consumer-to-business</a></p>
				<p>Jawaid, M.H., & Karim, E. (2021). <i>Factors Affecting Consumer Buying Behavior in E-Commerce Business during Outbreak of Covid-19: A Case Study on Top E-Commerce Websites.</i> 
					<a href="https://mpra.ub.uni-muenchen.de/110476/">https://mpra.ub.uni-muenchen.de/110476/</a></p>
		    		<p>Kiran, M. (2020). <i>THE IMPACT OF ELECTRONIC COMMERCE ON BUSINESS ORGANIZATION.</i> 
					<a href="https://www.linkedin.com/pulse/impact-electronic-commerce-business-organization-kiran-m#:~:text=Electronic%20commerce%20expands%20the%20marketplace,cost%20leads%20to%20consumer%20empowerment.">https://www.linkedin.com/pulse/impact-electronic-commerce-business-organization-kiran-m#:~:text
				=Electronic%20commerce%20expands%20the%20marketplace,cost%20leads%20to%20onsumer%20empowerment.</a></p> 
		    		<p>Kodali, S. (2022). <i>If E-commerce Keeps Growing, What Happens to Malls and Stores?</i> Forrester. 
					<a href="https://www.forrester.com/blogs/if-e-commerce-keeps-growing-what-happens-to-malls-and-stores/">https://www.forrester.com/blogs/if-e-commerce-keeps-growing-what-happens-to-malls-and-stores/</a></p>
				<p>Kutz, M. (2016). Introduction to E-commerce Combining Business and Internet Technology <i>bookboon</i>
					<a href="https://irp-cdn.multiscreensite.com/1c74f035/files/uploaded/introduction-to-e-commerce.pdf">https://irp-cdn.multiscreensite.com/1c74f035/files/uploaded/introduction-to-e-commerce.pdf</a></p>
		    		<p>Larson, C. (2016, November 15). Disruptive innovation theory: What it is & 4 key concepts. <i>Harvard Business School Online.</i> 
					<a href="https://online.hbs.edu/blog/post/4-keys-to-understanding-clayton-christensens-theory-of-disruptive-innovation">https://online.hbs.edu/blog/post/4-keys-to-understanding-clayton-christensens-theory-of-disruptive-innovation</a></p>
				<p>Liqui-site. (2020). <i>From Storefront to SEO: How eCommerce has Changed the Way We Do Business.</i>
					<a href="https://www.liqui-site.com/blog/e-commerce-changing-business#:~:
					text=The%20effect%20of%20eCommerce,
					maintaining%20a%20walk%2Din%20location.">https://www.liqui-site.com/blog/e-commerce-changing-business#:~:
					text=The%20effect%20of%20eCommerce,
					maintaining%20a%20walk%
						2Din%20location.</a></p>
		    		<p>Mahmood, S. H. (2022, June 13). <i>How does mercari work?</i> MUO.
					<a href="https://www.makeuseof.com/how-does-mercari-work/">https://www.makeuseof.com/how-does-mercari-work/</a></p> 
		    		<p>Malloy, Q. (2019, January 22). <i>Benefits of E-commerce For Customers and Businesses.</i> Cloudtalk.
					<a href="https://www.cloudtalk.io/blog/benefits-of-e-commerce-for-customers-and-businesses/">https://www.cloudtalk.io/blog/benefits-of-e-commerce-for-customers-and-businesses/</a></p>
		    		<p>Marketing Schools. (2020, November 17). Disruptive marketing. <i>Marketing Schools.</i>
					<a href="https://www.marketing-schools.org/types-of-marketing/disruptive-marketing/#section-0">https://www.marketing-schools.org/types-of-marketing/disruptive-marketing/#section-0</a></p>
		   		<p>Meteor Space. (2022). E-commerce Consumer Buying Behavior: Trends and Statistics.
					<a href="https://www.meteorspace.com/2022/08/15/
					e-commerce-consumer-buying-behaviour-trends-and-statistics/">https://www.meteorspace.com/2022/08/15/
					e-commerce-consumer-buying-behaviour-trends-and-statistics/</a></p>
				<p>Parisi, M. (2022, October 13). <i>What is Depop? everything you need to know about the resale app.</i> MUO.
					<a href="https://www.makeuseof.com/what-is-depop/">https://www.makeuseof.com/what-is-depop/</a></p> 
		   		<p>Phoebe. (2013, July 18). <i>10 popular E-Commerce sites in the Philippines.</i> Yahoo!news.
					<a href="https://ph.news.yahoo.com/10-popular-e-commerce-sites-150027160.html">https://ph.news.yahoo.com/10-popular-e-commerce-sites-150027160.html</a></p>
		    		<p>Provoto Group. (2020). <i>Why Disruptive Technology is a Good Thing.</i>  
					<a href="https://www.theprovatogroup.com/why-disruptive-technology-is-a-good-thing/">https://www.theprovatogroup.com/why-disruptive-technology-is-a-good-thing/</a></p> 
		    		<p>Rivera, A. (2022, November 9). Understanding the customer-to-customer (C2C) model.<i>Business News Daily.</i> 
					<a href="https://www.businessnewsdaily.com/5084-what-is-c2c.html">https://www.businessnewsdaily.com/5084-what-is-c2c.html</a></p>
		    		<p>Smith, T. (2022). <i>Disruptive Technology: Definition, Example, and How to Invest.</i>
					<a href="https://www.investopedia.com
					/terms/d/disruptive-technology.asp">https://www.investopedia.com
					/terms/d/disruptive-technology.asp</a></p> 
				<p>The Manila Times. (2018, February 11). Shopee PH’s ‘mobile-first’ approach key to e-commerce success. <i>PressReader.</i>
					<a href="https://www.pressreader.com/philippines
				/manila-times/
					20180211/281732679944964">https://www.pressreader.com/philippines
				/manila-times/
					20180211/281732679944964</a></p>
		    		<p>UNCTAD. (2021). <i>How COVID-19 triggered the digital and e-commerce turning point.</i> 
					<a href="https://unctad.org/news/how-covid-19-triggered-digital-and-e-commerce-turning-point">https://unctad.org/news/how-covid-19-triggered-digital-and-e-commerce-turning-point</a></p>
		    		<p>KolibraCapital. <i>Understanding the C2G E-commerce Business Model.</i> (2022, May 12).   
					<a href="https://www.kolibracapital.com/post/c2g-e-commerce">
						https://www.kolibracapital.com/post/c2g-e-commerce</a></p>
		    		<p>Ward, P. (2022, October 10). <i>C2B: Business Definition and examples.</i> iNanoGlobals.
					<a href="https://nanoglobals.com/glossary/c2b-consumer-to-business
					/#:~:text=C2B%20stands%20for%20
					Consumer-to-Business%2C%20and%20
					is%20used%20to,include%20referral%20
					programs%2C%20paid%20testimonials%2C
					%20or%20data%20sharing.">https://nanoglobals.com/glossary/c2b-consumer-to-business
					/#:~:text=C2B%20stands%20for%20
					Consumer-to-Business%2C%20and%20
					is%20used%20to,include%20referral%20
					programs%2C%20paid%20testimonials%2
					C%20or%20data%20sharing.</a></p>
		    		
		    		
 </div>
</section>
